/*--画布--*/
#canvas{
    width: 760px;
    height: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
/*--画布--*/
/*--躯干--*/
.torso{
    position: absolute;
    z-index: 9997;
    top: 50px;
    left: 350px;
    width: 600px;
    height: 600px;
}
.torso img{
    animation: torso 2s linear infinite;
}
/*--躯干--*/
/*--手臂--*/
.arm{
    transform-origin: 20px 10px;
}
.left-bicep{
    position: absolute;
    z-index: -9999;
    top: 87px;
    left: 12px;
    animation: left-bicep 2s linear infinite;
}
.left-forearm{
    position: absolute;
    top: 115px;
    left: 9px;
    animation: left-forearm 2s linear infinite;
    transform-origin: 3px 7px;
}
.right-bicep {
    position: absolute;
    z-index: 9999;
    top: 93px;
    left: 12px;
    animation: right-bicep 2s linear infinite;
    transform-origin: 20px 10px;
}
.right-forearm {
    position: absolute;
    z-index: -1;
    top: 115px;
    left: 9px;
    animation: right-forearm 2s linear infinite;
    transform-origin: 3px 7px;
}
/*--手臂--*/
/*--左腿--*/
.leg{
    transform-origin: 30px 20px;
}
.left-thigh{
    position: absolute;
    left: -5px;
    top: 230px;
    z-index: -9998;
    animation: left-thigh 2s linear infinite;
    transform-origin: top;
}
.left-shin{
    position: absolute;
    left: -10px;
    top: 100px;
    z-index: -9999;
    animation: left-shin 2s linear infinite;
    transform-origin: 30px 25px;
}
.left-foot{
    position: absolute;
    left: -1px;
    top: 155px;
    animation: left-foot 2s linear infinite;
    transform-origin: 0 50%;
}
.left-toes{
    position: absolute;
    left: 65px;
    top: 14px;
    /*animation: left-toes 2s linear infinite;*/
    transform-origin: 0 100%;
}
/*--左腿--*/
/*--右腿--*/
.right-thigh{
    position: absolute;
    left: -5px;
    top: 245px;
    z-index: -9998;
    animation: right-thigh 2s linear infinite;
    transform-origin: top;
}
.right-shin{
    position: absolute;
    left: -10px;
    top: 100px;
    z-index: -9999;
    animation: right-shin 2s linear infinite;
    transform-origin: 30px 25px;
}
.right-foot{
    position: absolute;
    left: -1px;
    top: 155px;
    animation: right-foot 2s linear infinite;
    transform-origin: 0 50%;
}
.right-toes{
    position: absolute;
    left: 65px;
    top: 14px;
    /*animation: right-toes 2s linear infinite;*/
    transform-origin: 0 100%;
}
/*--右腿--*/

/*--人物动画--*/
@keyframes torso{
    0%{
        transform: rotate(5deg) translate(5px,0px);
    }
    25%{
        transform: rotate(5deg) translate(-5px,-14px);
    }
    50%{
        transform: rotate(5deg) translate(5px,0px);
    }
    75%{
        transform: rotate(5deg) translate(-5px,-14px);
    }
    100%{
        transform: rotate(5deg) translate(5px,0px);
    }
}
@keyframes left-bicep {
    0%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(26deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}
@keyframes left-forearm {
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes right-bicep {
    0%{
        transform: rotate(26deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(26deg);
    }
}
@keyframes right-forearm {
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}
@keyframes left-thigh{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes left-shin {
    0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(85deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
@keyframes left-foot {
    0%{
        transform: rotate(-16deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(-16deg);
    }
}
@keyframes left-toes {
    0%{
        transform: rotate(-10deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

@keyframes right-thigh{
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes right-shin {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(85deg);
    }
    100%{
        transform: rotate(30deg);
    }
}
@keyframes right-foot {
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(-7deg);
    }
    50%{
        transform: rotate(-16deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}
@keyframes right-toes {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/*--人物动画--*/

/*--背景--*/
.sky{
    position: absolute;
    animation: prop-1200 30s linear infinite;
}
.cloud-1,.cloud-2{
    position: absolute;
    top: 0;
}
.cloud-3,.cloud-4{
    position: absolute;
    top: 70px;
}
.cloud-5,.cloud-6{
    position: absolute;
    top: 30px;
}
.cloud-7,.cloud-8{
    position: absolute;
    top: 100px;
}
.cloud-1{
    position: absolute;
    left: 0;
}
.cloud-2{
    position: absolute;
    left: 1200px;
}
.cloud-3 {
    left: 250px;
}
.cloud-4 {
    left: 1450px;
}
.cloud-5 {
    left: 500px;
}
.cloud-6 {
    left: 1700px;
}
.cloud-7 {
    left: 950px;
}
.cloud-8 {
    left: 2150px;
}
.horizon{
    position: absolute;
    top: 350px;
    width: 1800px;
    height: 50px;
    background: url(../images/horizon.png) repeat-x;
    animation: prop-600 30s linear infinite;
}
.ground{
    position: absolute;
}
.sign-best{
    position: absolute;
    top: 350px;
    left: 1000px;
    animation: prop-2000 95s linear infinite;
}
.sign-no-js{
    position: absolute;
    top: 348px;
    left: 1150px;
    animation: prop-2000 71s linear infinite;
}
.sign-lots-of-divs{
    position: absolute;
    top: 345px;
    left: 1150px;
    animation: prop-2000 56s linear infinite;
}
.sign-all-css{
    position: absolute;
    top: 325px;
    left: 1600px;
    animation: prop-2000 35s linear infinite;
}
/*--背景动画--*/
@keyframes prop-600{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-600px);
    }
}
@keyframes prop-1200{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1200px);
    }
}
@keyframes prop-2000{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-2000px);
    }
}